{%extends 'base.html'%}

{%block content%}
<header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="tagline">Consultorio Dental FixTeeth</h1>
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div id="quienes_somos"  class="container">

        <hr>

        <div class="row">
            <div class="col-sm-8">
                <h2>Quienes Somos</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et molestiae similique eligendi reiciendis sunt distinctio odit? Quia, neque, ipsa, adipisci quisquam ullam deserunt accusantium illo iste exercitationem nemo voluptates asperiores.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et molestiae similique eligendi reiciendis sunt distinctio odit? Quia, neque, ipsa, adipisci quisquam ullam deserunt accusantium illo iste exercitationem nemo voluptates asperiores.</p>
                <p>
                    <a class="btn btn-default btn-lg" href="#">Ver mas&raquo;</a>
                </p>
            </div>
            <div class="col-sm-4">
                <h2>Contacto</h2>
                <address>
                    <strong>Clinica FixTeeth</strong>
                    <br>3481 Melrose Place
                    <br>Beverly Hills, CA 90210
                    <br>
                </address>
                <address>
                    <abbr title="Phone">P:</abbr>(123) 456-7890
                    <br>
                    <abbr title="Email">E:</abbr> <a href="mailto:#">name@example.com</a>
                </address>
            </div>
        </div>
        <!-- /.row -->

        <hr>
        <div class="col-sm-12">
                <h2>Medicos Especialistas</h2>
        </div>
        <div class="row">
        {%for medico in object_list%}

        <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="{{medico.foto.url}}" alt="">
                <h2>{{medico.nombre}} {{medico.apellido_paterno}} {{medico.apellido_materno}}</h2>
                <h3>{{medico.especialidad}}</h3>
                <p>{{medico.descripcion}}</p>
            </div>
        {%endfor%}
{%endblock content%}